#wrapper {
    background: #eee;
    padding: 10px;
}

.header{
    display: block;
    width:100%;
    padding: 10px 10px 0 0;
}
.category {
    background: #fff;
    border: 1px solid #D0D0D0;
    margin-bottom: 10px;
}
.deeper{
    float:left;    
    margin:10px 10px 0;
}
.featured-header{
    width: 40px;
    height: 210px;
    background: url('../img/featured-bg.png');
    float: left;
    margin-top: 10px;
}
.featured-header p{
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);
    color: #fff;
    margin-top:138px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    line-height: 24px;
}

.featured{
    overflow:hidden;
    height: 230px;
    display: block;
}
.featured ul{
    height: 210px;
    float: left; 
    white-space:nowrap;
}

.featured ul li{
    margin: 10px 0;
    position:relative;
    display:inline-block;
}

.featured ul li p{
    position:absolute;
    background: #525252;
    text-transform: uppercase;
    color: white;
    font-size: 22px;
    font-weight: bold;
    bottom: 15px;
    width: 100%;
    text-overflow:ellipsis;
    overflow:hidden;
}

.featured ul li.active p{
    background: #418cb8;
}

.featured ul li.active {
    margin: 10px 12px;}

.selected{
background: #fdcd00;
}
.header h2 {
    position: relative;
    display:inline-block;
    height: 24px;
    background: #525252;
    color: white;
    font-size: 22px;
    font-weight: bold;
    line-height: 24px;
    padding: 0 38px 0 10px;
    position: relative;
    text-transform: uppercase;
}
h2 .slash {
    background-image: url("../img/global_sprite.png");
    background-color: #3A8EB7;
    background-position: -11px -1075px;
    display: block;
    height: 24px;
    margin: 0 0 0 14px;
    position: absolute;
    right: 0;
    text-indent: -99999px;
    top: 0;
    width: 23px;
}


/*
Category PC
*/
#category-title-fixed {
background: #F1F1F1;
height: 40px;
left: 0;
padding: 20px;
padding-left: 10%;
position: fixed;
right: 0;
top: 0;
width: 100%;
z-index: 99;
}
#videos-list {
    height: auto;
}
#videos-list ul li {
    display: inline-block;
    margin: 30px;
    height: 270px;
    width: 480px;
}
#videos-list ul li img {
height: 270px;
width: 480px;
}

#videos-list ul li .item {
position: relative;
}

#videos-list ul li .description {
bottom: 20px;
background: #F1F1F1;
color: #F1F1F1;
left: 0;
position: absolute;
overflow: hidden;
width: 480px;
}

#videos-list ul li.active {
    position: relative;
    z-index: 98;
}

#videos-list ul li.active div.header h2 {
    background: #3A8EB7;
}

#videos-list ul li .description .header{
padding: 0;
}

#videos-list ul li .description h2 {
font-size: 24px;
height: 25px;
padding: 0 10px;
margin: 0;
overflow:hidden;
text-overflow: ellipsis;
-webkit-margin: 0;
width: 470px;
white-space:nowrap;
}

.category-switch {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    color: #f1f1f1;
    text-transform: uppercase;
    font-size: 30pt;
    font-weight: bold;
    line-height: 30pt;
    position: fixed;
    background: #4191b8;
}

.category-switch span a {
    color: #f1f1f1;
}

.category-switch.active span a {
    color: #000;
}

.category-switch.left {
    left: -940px;
    top:100px;
    right:940px;
}

.category-switch.left span {
    padding-left: 500px;
}

.category-switch.active {
    background: #feb800;
}

.category-switch.right {
    left: 940px;
    top:100px;
    right:-940px;
}

.category-switch.right span {
    padding-left: 600px;
}

.category-active .slash {
    visibility: hidden;
}

.category-active .header h2 {
    background: transparent;
}