/*
Category PC
*/
#category-title-fixed {
    background: #F1F1F1;
    height: 40px;
    left: 0;
    padding: 20px;
    padding-left: 10%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}
#videos-list {
    height: auto;
}

    display: inline-block;

    width: 400px;
}
#videos-list ul li img {
    height: 210px;
    width: 380px;
}

#videos-list ul li .item {
    position: relative;
}

#videos-list ul li .description {
    bottom: 20px;
    background: #F1F1F1;
    color: #F1F1F1;
    left: 0;
    position: absolute;
    overflow: hidden;
    width: 380px;
}

#videos-list ul li .description .header{
    padding: 0;
}

#videos-list ul li .description h2 {
    font-size: 24px;
    height: 25px;
    padding: 0;
    padding-right: 10px;
    margin: 0;
    overflow:hidden;
    text-overflow: ellipsis;
    -webkit-margin: 0;
    width: 370px;
    white-space:nowrap;
}