html,body {
    height: 90%;}

body {
    margin: 110px 5% 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: #aaa;}

a img {
    border: none;}

a {
    text-decoration: none;
}

strong {
    font-weight: bold;}

hr,object {
    border: 0px;}

hr {
    background-color: #cdcdcd;
    color: #cdcdcd;
    height: 1px;
    margin: 7px 0px;}

input,select,button {
    color: #53596b;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;}

ol li {
    list-style-type: decimal;}

ul li {
    list-style-type: none;}

optgroup {
    background: white;
    color: black;
    font-style: normal;}

optgroup option {
    padding-left: 22px;}

body {
    background: url('../img/bg.png') repeat;}


.header-top{
    height:73px;
    width: 100%;
    margin:0 auto;
    position:fixed;
    top: 0;
    left: 0;
    z-index:100;
    background: url("../img/header-bg.jpg") right bottom repeat;
    border-bottom: 1px solid #828282;
    box-shadow: 0 0 3px #828282;}

.header-top #logo{
    height:73px;
    width: 100%;
    background: url("../img/header-logo.jpg") left bottom no-repeat;
}

.header-top .title {
    color: #575757;
    text-decoration: none;
    text-shadow: 1px 1px white;
    display: block;
    margin: 1em 5% 0 1em;
    float:right;
    font-size: 18pt;}

.header-top .title.light {
    color: #a7a7a7;
    font-size: 15pt;
    margin-top: 1.2em;
}

.footbar {
    z-index:100;
    border-top: 1px solid lightGrey;
    box-shadow: 0 0 2px 1px #E3E3E3;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 5%;
    background: whiteSmoke;
    background: -webkit-linear-gradient(top, white 0%, #DDD 100%);}

.footbar .item {
    margin: 0;
    padding:0;
    color: #575757;
    font-size: 18pt;
    margin:0.6em 1.5em 0 0;
    float: left;
    text-shadow: 1px 1px white;}

.footbar .item.left,
.footbar .item.right,
.footbar .item.up,
.footbar .item.down,
.footbar .item.ok,
.footbar .item.cancel,
.footbar .item.reload,
.footbar .item.hor,
.footbar .item.ver,
.footbar .item.all {
    height: 24px;
    width: 24px;
    background-position: center center;
    background-repeat: no-repeat;
}

.footbar .item.text {
    width: auto;
    padding-left: 32px;
    color: #878787;
    background-position: left center;
    text-transform: uppercase;
    text-shadow: 1px 1px white;
}

.footbar .item.left {
    background-image: url("../img/ico/arrow_left_24x24.png");
}

.footbar .item.right {
    background-image: url("../img/ico/arrow_right_24x24.png");
}

.footbar .item.up {
    background-image: url("../img/ico/arrow_up_24x24.png");
}

.footbar .item.down {
    background-image: url("../img/ico/arrow_down_24x24.png");
}

.footbar .item.ok {
    background-image: url("../img/ico/check_24x20.png");
}

.footbar .item.cancel {
    background-image: url("../img/ico/x_21x21.png");
}

.footbar .item.reload {
    background-image: url("../img/ico/reload_18x21.png");
}

.footbar .item.hor {
    background-image: url("../img/ico/left_right.png");
}

.footbar .item.ver {
    background-image: url("../img/ico/up_down.png");
}

.footbar .item.all {
    background-image: url("../img/ico/all.png");
}

.active {
/*    outline: 15px solid #feb800;*/
    box-shadow: 0 0 16px 16px #feb800;
    position: relative;
    z-index: 99;
    border: 0;
}

.category-active{
    background: #525252 !important;
}

.category-active .active {
    box-shadow: 0 0 5px 6px #feb800;
}