body.video-player { margin: 2%; }
#player_nav {  height: 106px; left: 2%; top: 2%; background: #fff url(../img/player/player_bk.png) repeat-x bottom; border-radius: 30px; z-index: 10; }
#player_nav .active { box-shadow: none; }
#player_nav li { display: block; margin: 5px; float: left; height: 96px; padding: 5px; font-size: 3em; line-height: 2; }
#player_nav li.icon { width: 96px; background: no-repeat 0 0 url(../img/player/player_sprite.png); padding: 0; }
	#player_nav li.icon.play { background-position: 0 0; }
	#player_nav li.icon.previous { background-position: 0 -192px; }
	#player_nav li.icon.stop { background-position: 0 -384px; }
	#player_nav li.icon.next { background-position: 0 -96px; }
	#player_nav li.icon.fullscreen { background-position: 0 -960px; }
	#player_nav li.icon.exitfullscreen { background-position: 0 -1152px; }
	#player_nav li.icon.play.active { background-position: 0 -480px; }
	#player_nav li.icon.previous.active { background-position: 0 -672px; }
	#player_nav li.icon.stop.active { background-position: 0 -864px; }
	#player_nav li.icon.next.active{ background-position: 0 -576px; }
	#player_nav li.icon.fullscreen.active{ background-position: 0 -1056px; }
	#player_nav li.icon.exitfullscreen.active{ background-position: 0 -1248px; }
.control_item.active{ font-weight: bold; font-size: 5em;  color: #444; z-index: 0; }
#video-player { left: 0; top: 0; z-index: -10;}
.player_wrap { z-index: 0; }
